<!DOCTYPE html>
<html>
<head>

    <title>Ernesta WebLapa</title>

</head>
<body>


    <div>
        @RenderBody()
        <hr />
        <img src="https://www.petmd.com/sites/default/files/sleepy-cat-125522297.jpg" />
        <ol>
            <li>Kakīts</li>
            <li>Muahahahaha</li>
        </ol>
        <footer>
            <p>&copy;  - <em>Ernesta</em> .NET web aplikācija</p>
        </footer>
    </div>

</body>
</html>