<!--Komentāri-->
@model List<SludinājumuWebApp.Models.Sludinājums>

@foreach(var ad in Model)
{
    <p>
        <a 
           href="/Home/Advert?advertId=@ad.AdvertId">@ad.Name - @ad.Price (eur)
        </a>
    </p> 
}

@Html.ActionLink("Pievienot jaunu sludinājumu", "CreateAdvert")

